.portfolio-container {
	display: flex;
	gap: 40px;
	padding: 40px;
}

.portfolio-left {
	flex: 1 1 300px;
	max-width: 400px;
}

.portfolio-left img {
	width: 100%;
	border-radius: 16px;
	object-fit: cover;
}

.portfolio-right {
	flex: 1 1 600px;
}

.portfolio-right h1 {
	margin-bottom: 60px;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Neusa';
	font-size: 64px;
	color: white;
}

.portfolio-right span {
	color: #e5bc28;
}

.portfolio-right h2 {
	font-size: 40px;
	padding: 0;
	margin-bottom: 10px;
	font-weight: 700;
	font-family: 'Neusa';
	text-transform: uppercase;
	color: white;
}

.portfolio-right p {
	margin-bottom: 26px;
	line-height: 1.5;
	font-size: 18px;
	color: white;
	font-weight: 500;
	margin-bottom: 40px;
}

.btn {
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 193%;
	letter-spacing: 0.12em;
	text-align: center;
	color: var(--color-black);
	padding: 13px 64px;
	background-color: var(--color-yellow);
	border-radius: 68px;
	border: none;
	box-shadow: 8px 8px 0 0 #282828;
	transition: all 0.6s ease-in-out;
}

.btn:hover {
	background: #444;
	color: white;
}

.works {
	width: 100%;
	margin-bottom: 80px;
}

.works__grid {
	margin-top: 40px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 30px;
}

.works img {
	width: 100%;
	height: 210px; /* можешь изменить под нужный размер */
	object-fit: cover; /* обрезает фото, сохраняя пропорции */
	border-radius: 10px;
	display: block;
	cursor: pointer;
}

.socials {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	gap: 16px;
}

.socials-section h2 {
	font-family: 'Neusa';
	font-weight: 700;
	font-size: 40px;
	line-height: 98%;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}

.socials a img {
	width: 28px;
	height: 28px;
	transition: 0.3s;
}

.socials a:hover img {
	opacity: 0.7;
}

/* modal */

/* модальное окно */
.image-modal {
	display: none;
	position: fixed;
	z-index: 1000;
	inset: 0;
	background: rgba(0, 0, 0, 0.8);
	justify-content: center;
	align-items: center;
	cursor: zoom-out;
	padding: 20px;
}

/* само изображение */
.image-modal__content {
	max-width: 90%;
	max-height: 90vh;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
	cursor: default;
	animation: zoomIn 0.3s ease;
}

/* кнопка закрытия */
.image-modal__close {
	position: absolute;
	top: 30px;
	right: 40px;
	font-size: 40px;
	color: #fff;
	font-weight: 300;
	cursor: pointer;
	transition: 0.3s;
	z-index: 1001;
}

.image-modal__close:hover {
	opacity: 0.7;
}

/* анимация появления */
@keyframes zoomIn {
	from {
		transform: scale(0.7);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}
