* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url('../images/fon.png');
	background-color: #1e1e1e;
}

html,
*,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img,
svg {
	max-width: 100%;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
}

:root {
	--color-yellow: #e5bc28;
	--color-white: #ffffff;
	--color-black: #171717;
}

@font-face {
	font-family: 'Neusa';
	src: url('../fonts/Neusa-Bold.woff2') format('woff2'),
		url('../fonts/Neusa-Bold.woff') format('woff');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/InterRegular.woff2') format('woff2'),
		url('../fonts/InterRegular.woff') format('woff');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/InterMedium.woff2') format('woff2'),
		url('../fonts/InterMedium.woff') format('woff');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: local('InterBold'), url('../fonts/Inter18pt-Bold.woff2') format('woff2'),
		url('../fonts/Inter18pt-Bold.woff') format('woff');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: local('InterSemiBold'), url('../fonts/Inter18pt-SemiBold.woff2') format('woff2'),
		url('../fonts/Inter18pt-SemiBold.woff') format('woff');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

body {
	min-width: 380px;
	height: 100%;
	font-family: 'Inter', sans-serif;
	line-height: 1.5;
}

/* header */

.header {
	margin-top: 70px;
	margin-bottom: 80px;
}

.header__logo {
	display: flex;
	justify-content: center;
	margin-bottom: 55px;
}

.header__item {
	display: flex;
	justify-content: space-between;
}

.header__li {
	position: relative;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #fff;
	transition: background-color ease-in-out 0.5s;
	transition: color 0.4s ease;
}

.header__li::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 160px;
	height: 30px;
	background-color: var(--color-yellow);
	border-radius: 999px;
	transform: translate(-50%, -50%) scale(0.8);
	transition: transform 0.4s ease, opacity 0.4s ease;
	opacity: 0;
	z-index: -1;
}

.header__li:hover::before {
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
}

.header__li:hover {
	color: var(--color-black);
}

.neon__text {
	font-family: 'Inter';
	font-size: 120px;
	text-transform: uppercase;
	text-align: center;
	color: var(--color-white);
}

/* remove */

.remove__tatu {
	margin-bottom: 80px;
}

.content__remove {
	display: flex;
	align-items: center;
}

.apparat__icon {
	position: relative;
	margin-right: 80px;
}

.apparat__icon::before {
	content: '';
	position: absolute;
	background-image: url('../icons/fon-apparat.svg');
	width: 420px;
	height: 623px;
	z-index: -1;
	background-size: cover;
	top: 270px;
	right: 26px;
}

.remove__title {
	font-family: 'Neusa';
	position: relative;
	max-width: 350px;
	font-size: 72px;
	line-height: 140%;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--color-black);
}

.remove__title::before {
	content: '';
	position: absolute;
	width: 324px;
	height: 95px;
	background-image: url('../icons/fon-remove-delete.svg');
	z-index: -1;
	background-repeat: no-repeat;
	background-position: center center;
	right: 72px;
}

.remove__title--text {
	font-family: 'Neusa';
	position: relative;
	max-width: 350px;
	font-size: 72px;
	line-height: 98%;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--color-black);
}

.remove__title--text::before {
	content: '';
	position: absolute;
	width: 369px;
	height: 95px;
	background-image: url('../icons/fon-remove.svg');
	z-index: -1;
	background-repeat: no-repeat;
	background-position: center center;
	top: -13px;
	right: -11px;
}

.remove__text--magic {
	font-family: 'Inter';
	font-size: 18px;
	line-height: 216%;
	color: #fff;
	margin-top: 40px;
	max-width: 470px;
	margin-bottom: 50px;
}

.remove__item {
	padding-left: 18px;
	margin-bottom: 65px;
	list-style: disc;
}

.remove__item li::marker {
	font-size: 23px;
	color: var(--color-yellow);
}

.remove__li {
	font-family: 'Inter';
	font-weight: 500;
	font-size: 16px;
	line-height: 246%;
	color: var(--color-white);
}

.remove__button {
	position: relative;
}

.remove__btn {
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	line-height: 193%;
	letter-spacing: 0.12em;
	text-align: center;
	color: var(--color-black);
	padding: 13px 64px;
	background-color: var(--color-yellow);
	border-radius: 68px;
	border: none;
	box-shadow: 8px 8px 0 0 #282828;
}

.remove__button .line {
	display: block;
	background-color: var(--color-yellow);
	height: 4px;
}

.remove__button span:nth-child(2) {
	position: absolute;
	top: 8px;
	right: 0;
	width: 60px;
	transform: rotate(340deg);
}

.remove__button span:nth-child(3) {
	position: absolute;
	top: 77px;
	right: 0;
	width: 70px;
	transform: rotate(28deg);
}

.remove__button span:nth-child(4) {
	position: absolute;
	top: 133px;
	right: 91px;
	width: 52px;
	transform: rotate(71deg);
}

.remove__button span:nth-child(5) {
	position: absolute;
	right: 24px;
	top: 120px;
	width: 70px;
	transform: rotate(45deg);
}

.remove__title::before {
	display: none;
}

.remove__title--text::before {
	display: none;
}

main > *:not(.neon) {
	opacity: 1;
}

.animate {
	opacity: 0;
}

.content__title {
	display: flex;
	align-items: center;
}

.remove__title {
	font-family: 'Neusa';
	font-weight: 700;
	font-size: 72px;
	line-height: 98%;
	text-transform: uppercase;
	color: var(--color-white);
	margin-right: 15px;
}

.remove__title--text {
	color: var(--color-yellow);
}

/* .master */

.studio__master {
	position: relative;
	margin-bottom: 200px;
}

.studio__master::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../icons/studio/fon-master.svg');
	background-repeat: no-repeat;
	z-index: -1;
	background-position: center;
	top: 90px;
}

.content__studio {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.master__photo {
	position: relative;
}

.photo__gradient {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40%;
	background: linear-gradient(180deg, rgba(229, 188, 40, 0) 0%, #e5bc28 100%);
}

.studio__title {
	font-family: 'Neusa';
	font-weight: 700;
	font-size: 54px;
	line-height: 122%;
	text-transform: uppercase;
	color: var(--color-white);
	position: relative;
}

.studio__title::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../icons/studio/fon-title-master.svg');
	z-index: -1;
	background-repeat: no-repeat;
	background-position: center;
	left: -47px;
}

.studio__desc {
	display: block;
	font-family: 'Neusa';
	font-weight: 700;
	font-size: 54px;
	line-height: 122%;
	text-transform: uppercase;
	color: var(--color-black);
	margin-bottom: 30px;
}

.students__desc--master {
	font-family: 'Inter';
	font-weight: 500;
	font-size: 18px;
	line-height: 190%;
	color: var(--color-black);
	margin-bottom: 60px;
}

.seti__title {
	font-family: 'Neusa';
	font-weight: 700;
	font-size: 40px;
	line-height: 98%;
	text-transform: uppercase;
	color: var(--color-black);
	margin-bottom: 26px;
}

.soc__master {
	display: flex;
	align-items: center;
}

.soc__master img {
	margin-right: 23px;
}

/* portfolio */

.portfolio__studia {
	margin-bottom: 100px;
}

.portfolio__text {
	margin-bottom: 70px;
}

.portfolio__title {
	font-family: 'Neusa';
	font-weight: 700;
	font-size: 72px;
	line-height: 98%;
	text-transform: uppercase;
	text-align: center;
	color: var(--color-white);
	margin-bottom: 10px;
}

.portfolio__desc {
	font-family: 'Inter';
	font-weight: 500;
	font-size: 18px;
	line-height: 195%;
	text-align: center;
	color: var(--color-white);
	max-width: 570px;
}

.portfolio__studia--photo {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	gap: 30px;
}

/* reviews */

.reviews {
	margin-top: 150px;
}

.coffe__svg::before {
	top: -45px;
}

.reviews::before {
	content: '';
	position: absolute;
	background-image: url('../icons/studio/fon-reviews.svg');
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: -1;
	left: 0;
}

.content__reviews {
	padding: 200px 100px 100px 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text__reviews {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 70px;
}

.reviews__title {
	font-family: 'Neusa';
	font-weight: 700;
	font-size: 72px;
	line-height: 98%;
	text-transform: uppercase;
	text-align: center;
	color: var(--color-yellow);
	margin-bottom: 15px;
}

.reviews__desc {
	font-family: 'Inter';
	font-weight: 500;
	font-size: 18px;
	line-height: 190%;
	text-align: center;
	color: var(--color-white);
	max-width: 530px;
}

.reviews__content {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 70px;
}

.reviews__card {
	margin-right: 30px;
	border: 1px solid #282828;
	border-radius: 4px;
	background: #1e1e1e;
	padding: 33px;
}

.reviews__card:last-child {
	margin-right: 0;
}

.card__svg {
	display: flex;
	align-items: center;
	margin-bottom: 26px;
}

.card__svg svg {
	margin-right: 20px;
}

.title__card {
	font-family: 'Inter';
	font-weight: 700;
	font-size: 20px;
	line-height: 190%;
	color: var(--color-white);
}

.desc__card {
	font-family: 'Inter';
	font-weight: 500;
	font-size: 14px;
	line-height: 190%;
	color: var(--color-white);
}

.studio__btn {
	margin-left: auto;
}
