* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url('../images/fon.png');
	background-color: #1e1e1e;
}

html,
body {
	min-width: 380px;
	height: 100%;
	font-family: 'Inter', sans-serif;
	line-height: 1.5;
}

*,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img,
svg {
	max-width: 100%;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
}

:root {
	--color-yellow: #e5bc28;
	--color-white: #ffffff;
	--color-black: #171717;
	--main-font: 'Inter', sans-serif;
	--text-font: 'Neusa', sans-serif;
}

/* header */

.header {
	margin-top: 70px;
	margin-bottom: 80px;
	/* opacity: 0;
	transform: translateY(50px); */
}

.header__logo {
	display: block;
	text-align: center;
	margin-bottom: 55px;
}

.header__item {
	display: flex;
	justify-content: space-between;
}

.header__li {
	position: relative;
	font-family: var(--main-font);
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #fff;
	transition: background-color ease-in-out 0.5s;
	transition: color 0.4s ease;
}

.header__li::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 160px;
	height: 30px;
	background-color: var(--color-yellow);
	border-radius: 999px;
	transform: translate(-50%, -50%) scale(0.8);
	transition: transform 0.4s ease, opacity 0.4s ease;
	opacity: 0;
	z-index: -1;
}

.header__li:hover::before {
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
}

.header__li:hover {
	color: var(--color-black);
	text-shadow: 0 0 10px #e5bc28, 0 0 20px #e5bc28, 0 0 40px #e5bc28;
	box-shadow: 0 0 10px #e5bc28, 0 0 20px #e5bc28, 0 0 40px #e5bc28, 0 0 80px #e5bc28;
	transform: scale(1.05);
}

.neon__text {
	font-family: 'Inter';
	font-size: 130px;
	text-transform: uppercase;
	text-align: center;
	color: var(--color-white);
	text-shadow: 0 0 10px #d538e1, 0 0 20px #d538e1, 0 0 40px #d538e1;

	/* Первая анимация: мигание */
	animation: flicker 2s ease-in-out 3, steady 1s forwards;
	animation-delay: 0s, 0.7s; /* steady стартует после flicker */
}

@keyframes flicker {
	0% {
		opacity: 1;
		text-shadow: 0 0 10px #d538e1, 0 0 20px #d538e1, 0 0 40px #d538e1;
	}
	15% {
		opacity: 0.3;
		text-shadow: none;
	}
	30% {
		opacity: 1;
		text-shadow: 0 0 10px #d538e1, 0 0 20px #d538e1, 0 0 40px #d538e1;
	}
	45% {
		opacity: 0.5;
		text-shadow: none;
	}
	60% {
		opacity: 1;
		text-shadow: 0 0 10px #d538e1, 0 0 20px #d538e1, 0 0 40px #d538e1;
	}
	75% {
		opacity: 0.2;
		text-shadow: none;
	}
	100% {
		opacity: 0.9;
		text-shadow: 0 0 10px #d538e1, 0 0 20px #d538e1, 0 0 40px #d538e1;
	}
}

@keyframes steady {
	from {
		opacity: 0.9;
		text-shadow: none;
	}
	to {
		opacity: 1;
		text-shadow: 0 0 10px #d538e1, 0 0 20px #d538e1, 0 0 40px #d538e1, 0 0 80px #d538e1,
			0 0 160px #d538e1;
	}
}

/* studio */

.studio {
	margin: 100px 0;
	margin-bottom: 80px;
}

.studio__content {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.title__studio {
	font-family: Inter;
	font-weight: 700;
	font-size: 50px;
	line-height: 98%;
	text-transform: uppercase;
	color: var(--color-black);
	background-image: url('../icons/fon_text.svg');
	background-repeat: no-repeat;
	height: 100px;
	max-width: 400px;
	padding: 25px 20px 17px 24px;
	text-align: center;
}

.text__studio {
	font-family: var(--font-family);
	margin-bottom: 80px;
	font-weight: 500;
	font-size: 18px;
	line-height: 190%;
	color: var(--color-white);
	max-width: 550px;
}

.studio__text {
	display: flex;
	gap: 50px;
	margin-bottom: 30px;
}

.studio__img {
	border-radius: 10px;
}

.studio__photo {
	display: flex;
	justify-content: space-between;
}

.big-img {
	margin-right: 50px;
}

.studio__btn {
	cursor: pointer;
	margin-top: 40px;
	border-radius: 68px;
	background-color: var(--color-yellow);
	padding: 12px 44px;
	font-weight: 700;
	font-family: 'Inter';
	font-size: 14px;
	line-height: 193%;
	letter-spacing: 0.12em;
	text-align: center;
	color: #171717;
	border: none;
	transition: all 0.3s ease;
}

.studio__btn:hover {
	color: #111;
	text-shadow: 0 0 10px #e5bc28, 0 0 20px #e5bc28, 0 0 40px #e5bc28;
	box-shadow: 0 0 10px #e5bc28, 0 0 20px #e5bc28, 0 0 40px #e5bc28, 0 0 80px #e5bc28;
	transform: scale(1.05);
}

/* master */

.master {
	margin-bottom: 90px;
}

.master__text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text__master {
	font-family: 'Inter';
	font-weight: 500;
	font-size: 18px;
	line-height: 190%;
	text-align: center;
	color: var(--color-white);
	max-width: 618px;
}

.content__master {
	position: relative;
	background-image: url('../icons/fon_master.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center 100px;
}

.master__anvil {
	position: absolute;
	bottom: -242px;
	right: 91px;
}

.portfolio__master {
	padding: 0 250px 170px 200px;
}

.title__master {
	font-family: Inter;
	font-weight: 700;
	font-size: 50px;
	line-height: 98%;
	text-transform: uppercase;
	color: var(--color-black);
	background-image: url('/icons/fon_text.master.svg');
	background-repeat: no-repeat;
	height: 100px;
	max-width: 270px;
	padding: 25px 20px 17px 24px;
	text-align: center;
}

.master__item {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(3, 1fr);
	align-items: stretch;
	width: 850px;
}

.master__li {
	position: relative;
}

.gradient {
	position: absolute;
	bottom: 173px;
	left: 0;
	width: 100%;
	height: 30%;
	background: linear-gradient(180deg, rgba(229, 188, 40, 0) 0%, #e5bc28 100%);
}

.master__li {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	text-align: center;
	height: 100%;
}

.master__li img {
	width: 100%;
	height: 350px;
	object-fit: cover;
	object-position: center 40px;
	display: block;
}

.master__li p {
	margin: 10px 0 5px;
}

.master__li button {
	margin-top: 30px;
	padding: 12px 60px;
	cursor: pointer;
	font-size: 11px;
	color: var(--color-white);
	border-radius: 68px;
	background-color: var(--color-black);
	border: none;
	font-family: 'Inter';
}

.master__name {
	font-family: 'Neusa';
	font-weight: 700;
	font-size: 30px;
	line-height: 98%;
	text-transform: uppercase;
	text-align: center;
	color: var(--color-black);
}

.text__tatu {
	font-family: 'Inter';
	font-weight: 500;
	font-size: 14px;
	line-height: 190%;
	text-align: center;
	color: var(--color-black);
}

.master__svg {
	position: relative;
}

.svg__line1 {
	position: absolute;
	top: 134px;
	left: -130px;
}

.svg__line2 {
	position: absolute;
	top: 15px;
	left: -72px;
}

.svg__line3 {
	position: absolute;
	top: -24px;
	left: 70px;
}

.svg__line4 {
	position: absolute;
	top: 40px;
	left: 210px;
}
